# .github/workflows/ht-data-validator.yaml
name: ht-data-validator
on: 
  # push:
  workflow_dispatch:
  # repository_dispatch:
  #  types: [ht-data-validator-start]

# env:
  # SHAREPOINT_USERNAME: ${{ secrets.SHAREPOINT_USERNAME }}

jobs:
  ht-data-validator:
    runs-on: ubuntu-latest
    name: ht-data-validator
    steps:
      # - name: Checkout
      #  uses: actions/checkout@v3
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          repository: 'plindman/ht-actions'
          token: ${{ secrets.HT_ACTIONS_CODE }}
          path: ''
        run: |
          git submodule update --init --recursive src/ht-data-validator
      - name: List files in the repository
        run: |
          ls ./src/ht-data-validator/
      - name: Run the action
        id: ht-data-validator
        uses: ./src/ht-data-validator/
