# .github/workflows/ht-data-validator.yaml
name: ht-data-validator
on: 
  # push:
  workflow_dispatch:
  # repository_dispatch:
  #  types: [ht-data-validator-start]

jobs:
  ht-data-validator:
    runs-on: ubuntu-latest
    environment: ht-actions
    name: ht-data-validator
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          repository: 'plindman/ht-actions'
          path: ''
          token: ${{ secrets.HT_ACTIONS_CODE }}

      - name: Checkout ht-data-validator
        uses: actions/checkout@v3
        with:
          repository: plindman/ht-data-validator
          path: src/ht-data-validator
          token: ${{ secrets.HT_ACTIONS_CODE }}

      - name: List files in the repository
        run: |
          ls ./src/ht-data-validator/

      - name: Run the action
        id: ht-data-validator
        uses: ./src/ht-data-validator/
        with:
          MSGRAPH_URL: ${{ env.MSGRAPH_URL }}
          MSGRAPH_SCOPE: ${{ env.MSGRAPH_SCOPE }}
          MSGRAPH_AUTHORITY: ${{ env.MSGRAPH_AUTHORITY }}

          MSGRAPH_CLIENT_ID: ${{ secrets.MSGRAPH_CLIENT_ID }}
          MSGRAPH_CLIENT_SECRET: ${{ secrets.MSGRAPH_CLIENT_SECRET }}
          MSGRAPH_TENANT_ID: ${{ secrets.MSGRAPH_TENANT_ID }}

          HT_SHAREPOINT_HOST: ${{ env.HT_SHAREPOINT_HOST }}
          HT_SHAREPOINT_SITE: ${{ env.HT_SHAREPOINT_SITE }}
          HT_SHAREPOINT_URL: ${{ env.HT_SHAREPOINT_URL }}
          HT_SHAREPOINT_DOCS: ${{ env.HT_SHAREPOINT_DOCS }}

