# .github/workflows/ht-product-docs.yaml
name: ht-product-docs
on: 
  # push:
  workflow_dispatch:
  # repository_dispatch:
  #  types: [ht-data-validator-start]

jobs:
  ht-data-validator:
    runs-on: ubuntu-latest
    environment: ht-actions
    name: ht-product-docs
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          repository: 'plindman/ht-actions'
          path: ''
          token: ${{ secrets.HT_ACTIONS_CODE }}

      - name: Checkout ht-product-docs
        uses: actions/checkout@v3
        with:
          repository: plindman/ht-product-docs
          path: src/ht-product-docs
          token: ${{ secrets.HT_ACTIONS_CODE }}

      - name: List files in the repository
        run: |
          ls ./src/ht-product-docs/
          ls ./src/ht-product-docs/images

      - name: Run the action
        id: ht-product-docs
        uses: ./src/ht-product-docs/
        with:
          MSGRAPH_URL: ${{ vars.MSGRAPH_URL }}
          MSGRAPH_SCOPE: ${{ vars.MSGRAPH_SCOPE }}
          MSGRAPH_AUTHORITY: ${{ vars.MSGRAPH_AUTHORITY }}

          MSGRAPH_CLIENT_ID: ${{ secrets.MSGRAPH_CLIENT_ID }}
          MSGRAPH_CLIENT_SECRET: ${{ secrets.MSGRAPH_CLIENT_SECRET }}
          MSGRAPH_TENANT_ID: ${{ secrets.MSGRAPH_TENANT_ID }}

          HT_SHAREPOINT_HOST: ${{ vars.HT_SHAREPOINT_HOST }}
          HT_SHAREPOINT_SITE: ${{ vars.HT_SHAREPOINT_SITE }}
          HT_SHAREPOINT_URL: ${{ vars.HT_SHAREPOINT_URL }}
          HT_SHAREPOINT_DOCS: ${{ vars.HT_SHAREPOINT_DOCS }}
